.login-container {
    padding: 100px 15px 0 15px;
}
.articles-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.image {
    width: 100%;
}

@media (min-width: 767px) {
    .login-container {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .articles-container > .ui.segment {
        display: flex;
        align-items: flex-start;
    }

    h3.ui.header {
        margin-top: 0;
    }

    .article-data {
        margin-top: 0;
    }

    .image {
        width: 30%;
        float: left;
        margin-right: 20px;
    }
}
